<header class="header">
  <div class="container header__container">
    <a href="#" class="header__logo">
      <img src="img/logo.svg" alt="logo" />
    </a>
    <nav class="header__nav nav nav-mobile">
      <ul class="nav__list">
        <li class="nav__item"><a href="#">FAQ</a></li>
        <li class="nav__item"><a href="#">Оплата и доставка</a></li>
        <li class="nav__item"><a href="#">Возврат</a></li>
        <li class="nav__item"><a href="#">Исследования</a></li>
        <li class="nav__item"><a href="#">Личный кабинет</a></li>
      </ul>
    </nav>
    <div class="header__phone">
      <a class="header__phone-tel" href="tel:88006000990">8 (800) 600-09-90</a>
      <a class="header__phone-icon" href=" tel:88006000990">
        <img src="img/svg/phone.svg" alt="phone">
      </a>
    </div>
    <div class="burger">
      <div class="burger__line"></div>
    </div>
    <button class="btn-reset header__cart cart cart-full" data-count-products="1">
      <img src="img/svg/cart.svg" alt="cart">
    </button>
  </div>
</header>