<section class="hero">
  <div class="container hero__container">
    <div class="hero__inner">
      <h1 class="hero__title title-big">АКТИВИРУЙ ИММУНИТЕТ!</h1>
      <p class="hero__subtitle">
        Всего пять секунд в день помогут укрепить иммунитет и повысить защитные силы организма
      </p>

      <div class="hero__headline">
        <span class="hero__headline-title">NOOTRIS ПОМОГАЕТ</span>
        <p class="hero__headline-text">Вашему организму во время пандемии и сезонных простуд</p>
      </div>
    </div>
    <div class="hero__image">
      <picture>
        <source srcset="img/hero-bg.webp" type="image/webp" />
        <img loading="lazy" src="img/hero-bg.png" class="image" width="816" alt="nootris" />
      </picture>
    </div>
  </div>
</section>
